<div class="list-group">
    <a href="#" class="list-group-item active">
        Admin
    </a>

    <a asp-page="/index" asp-area="admin" class="list-group-item"><strong>Dashboard</strong></a>
    <a asp-page="/users/index" asp-area="admin" class="list-group-item">Users</a>
    <a asp-page="/foods/index" asp-area="admin" class="list-group-item">Food</a>

</div>