<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <main class="container-fluid">
        @RenderBody()
    </main>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
</body>
</html>
